.text2 {
	margin-left: 5%;
	margin-right: 5%;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.buttonAuth {
	margin-left: 0%;
	margin-right: 0%;
	border: 0px outset #42f5cb;
	padding: 0px;
	border-radius: 0x;
	--background: #42f5cb;
}